#top-bar
  #logo
    =image_tag('logo.svg')
    %span mail
%nav
  #displace
  #search
  #folders
    %ul
      %li Inbox
      %li Drafts
      %li Sent
      %li Starred
      %li Boomerang
  #labels 
    %h3 Labels
    %ul
      %li 
        .circle-indicator
        .label-text Close Friends
      %li 
        .circle-indicator
        .label-text Hackathons
      %li 
        .circle-indicator
        .label-text Work
      %li 
        .circle-indicator
        .label-text School
#container
  #inbox-header
    %h3 Inbox
    #buttons
      #reply
      #delete
      #sort
  #all-messages
    .table
      %table
        - @inbox.each do |message|
          %tr 
            %td= image_tag (get_user_info "#{message['to']['data'].second['id']}"), {:class => "rounded-pic blue-border"}
            %td.name #{message["to"]["data"].second["name"]}
            %td.message #{message["comments"]["data"].last["message"]}
            %td.time= get_awesome_date "#{message['updated_time']}"
