#top-bar
  #logo
    =image_tag('logo.svg')
    %span mail
  #compose-button{'onclick' => 'sendDialog();'}
  = link_to ('/') do
    #sync-button
  #account
    = image_tag(current_user.profile_pic, :class => "rounded-pic" )
    #dropdown-icon
      %ul#act-menu
        %li
          %a{:href => "/signout"} Logout
%nav
  #displace
  #search
    .input-group.add-on
      %input#srch-term.form-control{:name => "srch-term", :placeholder => "Search email...", :type => "text"}
        .input-group-btn
          .btn
            %i.glyphicon.glyphicon-search
  #folders
    %hr
    %h3 Folders
    %hr
    %ul
      %li 
        .inbox-icon
        .folder-text Inbox
      %li
        .draft-icon 
        .folder-text Mail Merge
      %li 
        .star-icon
        .folder-text Starred
      %li 
        .reply-icon
        .folder-text Boomerang
  #labels 
    %hr
    %h3 Labels
    %hr
    %ul
      %li 
        .circle-indicator
        .label-text Close Friends
      %li 
        .circle-indicator
        .label-text Hackathons
      %li 
        .circle-indicator
        .label-text Work
      %li 
        .circle-indicator
        .label-text School
#container
  #inbox-header
    %h3{:style => "margin: 10px 0; text-transform: capitalize;"} #{@message["comments"]["data"].last["message"]}
    %p{:style => "margin: 5px 0;"}
      From
      %b 
        #{@message["comments"]["data"].last['from']['name']}
        %span{:style => "font-weight: 300;"}
          to
          %b
            You
            %span{:style => "font-weight: 300;"}
              at
              %b 
                = get_awesome_date "#{@message["comments"]["data"].last["created_time"]}"
              

  #all-messages
    .table-messages
      %table
        - @message["comments"]["data"].each do |comment|
          %tr 
            %td
              = image_tag (get_user_info "#{@message['to']['data'].second['id']}"), {:class => "", :style => "display: inline-block; margin-top: -15px; width: 35px; height: 35px;"}
              #wrap{:style => "display: inline-block;"}
                %b{:style => ""} #{@message['to']["data"].second['name']}
                %p to #{@message['to']["data"].first['name']}
              #wrap{:style => "float: right;"}
                %b= get_awesome_date "#{comment["created_time"]}"
              %br
              %br
              .message #{comment["message"]}
              %br
              .name 
                From, 
                %br #{comment['from']['name']}
